body {
  background-color: #9ad0ec;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 20%;
}

img {
  height: 200px;
}

ul {
  list-style: none; /* Remove default bullets */
}

a {
  text-align: center;
  margin-right: 45px;
}

p {
  margin: 10px;
}

.center {
  text-align: center;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

.centerParagraph {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
